# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
venv/
ENV/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# Data files (often too large for Git)
*.csv
*.xlsx
*.sqlite
*.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
.chroma/
